<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="DiretorioApp" value="."/>  
    <add key="DiretorioDB" value="./DB"/>
    <add key="ArquivoContasDB" value="contas-banco-raphael.xml"/>  
    <add key="ArquivoMovimentacoesDB" value="movimentacoes-contas-banco-raphael.xml"/>  
  </appSettings>  
</configuration> 